@use '../global/index' as *;

.cooperation-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cooperation {

  &__inner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include less-than(1080px) {
      flex-direction: column;
    }
  }

  &__logo {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 18%;
    align-self: flex-end;
    object-fit: contain;

    @include less-than(1080px) {
      display: none;
    }
  }

  &__footer {

  }

  &__aside {
    display: block;
  }

  &__main {
    @include padding(26px, 26px, 26px, 37px);
    background: $popupBackground;
    @extend %s-border;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    min-width: 508px;
    width: 70%;

    @include less-than(940px) {
      min-width: auto;
      width: 100%;
    }
  }

  &__form {

  }
}

.coop-form {
  &__inner {
  }

  &__title {
    font-family: $fontMain;
font-weight: bold;
    font-style: normal;
    font-family: $fontMain;
font-weight: bold;
    color: $subtitleBackground;
    text-align: center;
    @include margin(0px, 0px, 42px, 0px);
    @include font-size(64px);
  }

  &__description {
    font-family: $fontMain;
font-weight: normal;
    color: $textColorPrimary;
    @include margin(0px, 0px, 18px, 0px);
    @include font-size(18px);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__label {
    display: block;
    color: $textColorPrimary;
    @include font-size(18px);
    @include margin(16px);

  }

  &__input {
    width: 100%;
    font-family: $fontMain;
font-weight: normal;
    cursor: text;
    @include margin(5px);
    @include font-size(14px);
    @include padding(12px, 12px, 12px, 12px);
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.49);
  }

  &__btn {
    width: 56%;
    margin-top: 47px;
  }
}

.card-coop {
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__col {
    padding: 12px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    opacity: 0.45;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
    overflow: hidden;
    height: 167px;
    width: 108px;

    & + & {
      margin-top: 24px;
    }
  }


  &__img {
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 100%;
  }
}

.coop-footer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include less-than(1080px) {
    display: flex;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    opacity: 0.45;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
    overflow: hidden;
    height: 167px;
    margin-top: 12px;
    margin-left: 12px;

    @include less-than(385px) {
      height: auto;
      width: calc(100% / 3);
    }
  }

  &__img {
    object-fit: contain;
    object-position: center top;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1080px) {
  .cooperation__aside {
    display: none;
  }
}
