@use '../global' as *;

.navbar {
  width: 100%;
  height: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include padding($header-height, 65px, 20px, 65px);
    width: 100%;
    height: 100%;
  }

  &_bg {
    &_white {
      background-color: $white;
    }

    &_dark-blue {
      background-color: $subtitleBackground;
    }

    &_transparent {
      background-color: transparent;
    }
  }

  &__header {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: flex-end;
  }

  &__links {

  }

  &__link {
    @extend %tmp-button--nav;
    font-family: $fontMain;
    font-weight: normal;
    text-align: center;
    color: $textColorSecondary;
    @include font-size(18px);
    @include padding(8px, 20px, 8px, 20px);
    @include margin(17px);


    &:hover {
      background: $textColorSecondary;
      color: $textColorPrimary;
    }

    &--special {
      @include margin(36px);
    }
  }

  &__footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    @include margin(20px);

    @include less-than-height(595px) {
      display: none;
    }
  }

  &__union {
    position: absolute;
    top: 0;
    left: 2%;
    height: 8%;
    object-fit: contain;
  }

  &__logo {
    display: flex;
    width: 40%;
    align-self: center;
    object-fit: contain;

    @include less-than-height(670px) {
      width: 20%;
    }

    @include less-than-height(620px) {
      width: 15%;
    }
  }

  &__date {
    @include margin(20px);
  }
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: #{$z-index-header + 1};

  &__overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    background-color: black;

    visibility: hidden;
    opacity: 0;
    transition: .5s;

    z-index: -1;
  }

  &__sidebar {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 487px;

    pointer-events: auto;
    transform: translateX(100%);
    transition: transform .3s;
    will-change: transform;
    contain: paint;

    &_pos {
      &_left {
        left: 0;
      }

      &_right {
        left: auto;
        right: 0;
      }
    }

    background-color: #C4C4C4;
  }

  &.is_active {
    pointer-events: auto;

    .drawer__overlay {
      visibility: visible;
      opacity: 0.6;
    }

    .drawer__sidebar {
      transform: none;
    }
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;

  position: relative;
  z-index: #{$z-index-header + 2};

  &__item {
    display: block;
    width: 100%;
    height: 2px;
    background: $black;
    transition: .3s;

    & + & {
      margin-top: 5px;
    }
  }


  &.is_active {
    .burger__item:nth-of-type(1) {
      transform: translate3d(0, 7px, 0) rotate(45deg);
    }

    .burger__item:nth-of-type(2) {
      opacity: 0;
    }

    .burger__item:nth-of-type(3) {
      transform: translate3d(0, -7px, 0) rotate(-45deg);
    }
  }
}

.nav-links {
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
  }
}
