@use '../global' as *;

.navbar {
  width: 100%;
  height: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    //padding: $header-height 65px 20px 65px;
    padding: 28px;

    @include more-than($bp-xxl-1442) {
      padding: #{get-vw(28px, $bp-xxl-1442)};
    }


    @include less-than($bp-md-768) {
      padding: 14px;
    }
  }

  &_bg {
    &_white {
      background-color: $white;
    }

    &_dark-blue {
      background-color: $subtitleBackground;
    }

    &_transparent {
      background-color: transparent;
    }
  }

  &__header {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: flex-end;
  }

  &__links {

  }

  &__link {
    @extend %tmp-button--nav;
    font-family: $fontMain;
    font-weight: normal;
    text-align: center;
    color: $textColorSecondary;
    @include font-size(18px);
    @include padding(8px, 20px, 8px, 20px);
    @include margin(17px);


    &:hover {
      background: $textColorSecondary;
      color: $textColorPrimary;
    }

    &--special {
      @include margin(36px);
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__card {
    width: calc(100% / 3 - 24px);
  }

  &__banner {
    width: 100%;
  }

  &__footer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__union {
    position: absolute;
    top: 0;
    left: 2%;
    height: 8%;
    object-fit: contain;
  }

  &__logo {
    display: flex;
    width: 40%;
    align-self: center;
    object-fit: contain;
  }

  &__date {
    @include margin(20px);
  }

  &__social {
    width: 48%;
  }

  &__actions {
    display: flex;
    flex-direction: column;

    &-item {
      & + & {
        margin-top: 0.4em;
      }
    }
  }
}

.navbar-card {
  &__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: top center;

    background-color: #E6F2FB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }

  &__label {
    margin-top: 0.6em;
  }
}

.navbar-banner {
  position: relative;
  width: 100%;

  &__title {

  }

  &__subtitle {
    margin-top: 0.5em;
  }

  &__description {

  }

  &__btn {
    margin: 1em 0;
  }

  &__bg {
    object-position: bottom right;
    width: 52%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: #{$z-index-header + 1};

  &__overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    background-color: black;

    visibility: hidden;
    opacity: 0;
    transition: .5s;

    z-index: -1;
  }

  &__sidebar {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 512px;
    @include more-than($bp-xxl-1442) {
      width: #{get-vw(512px, $bp-xxl-1442)};
    }

    pointer-events: auto;
    transform: translateX(100%);
    transition: transform .3s;
    will-change: transform;
    contain: paint;

    @include less-than($bp-md-768) {
      width: 100vw;
    }

    &_pos {
      &_left {
        left: 0;
      }

      &_right {
        left: auto;
        right: 0;
      }
    }

    background-color: #C4C4C4;
  }

  &.is_active {
    pointer-events: auto;

    .drawer__overlay {
      visibility: visible;
      opacity: 0.6;
    }

    .drawer__sidebar {
      transform: none;
    }
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;

  position: relative;
  z-index: #{$z-index-header + 2};

  &__item {
    display: block;
    width: 100%;
    height: 2px;
    background: $black;
    transition: .3s;

    & + & {
      margin-top: 5px;
    }
  }


  &.is_active {
    .burger__item:nth-of-type(1) {
      transform: translate3d(0, 7px, 0) rotate(45deg);
    }

    .burger__item:nth-of-type(2) {
      opacity: 0;
    }

    .burger__item:nth-of-type(3) {
      transform: translate3d(0, -7px, 0) rotate(-45deg);
    }
  }
}

.nav-links {
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;

    & + & {
      margin-top: 12px;
    }
  }
}


.social-list {
  display: flex;
  justify-content: space-between;

  &__item {
    border-radius: 12%;
    overflow: hidden;

    & + & {
      margin-left: 4%;
    }
  }

  &__link {

  }

  &__link-img {
    object-position: center;
    object-fit: cover;
  }
}
