@use '../global' as *;

.promo {
  @include margin(96px);

  &__title {
    font-family: $fontMain;
    font-weight: bold;
    text-align: left;
    @include font-size(36px);
    padding-right: 280px;

    @include more-than($bp-xxl-1442) {
      padding-right: #{get-vw(280px, $bp-xxl-1442)};
    }

    @include less-than($bp-xl-1170) {
      padding-right: #{get-vw(180px, $bp-xl-1170)};
    }

    @include less-than($bp-lg-979) {
      padding-right: 80px;
    }

    @include less-than($bp-md-768) {
      padding: 0;
      font-size: 21px;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include margin(24px);

    @include less-than($bp-md-768) {
      flex-direction: column;
    }
  }

  &__column {
    &:nth-child(1) {
      width: 43.3559650824%;
    }

    &:nth-child(2) {
      width: 48.6905916586%;
    }

    @include less-than($bp-lg-979) {
      &:nth-child(1) {
        width: calc(43.3559650824% + 7.953443259% / 4);
      }

      &:nth-child(2) {
        width: calc(48.6905916586% + 7.953443259% / 4);
      }
    }

    @include less-than($bp-md-768) {
      width: 100%;

      &:nth-child(1) {
        margin-top: 24px;
        width: 100%;
      }

      &:nth-child(2) {
        width: 100%;
        order: -1;
      }
    }
  }

  &__slider {
    @include less-than($bp-md-768) {
      height: #{get-vw(360px, $bp-md-768)};
      width: 100%;
      margin-bottom: 12px;

      @include less-than(375px) {
        height: 340px;
      }
    }
  }

  &__slider-item {
    & + & {
      margin-top: 12px;
    }

    @include less-than($bp-md-768) {
      width: 94%;
      height: 100%;

      & + & {
        margin: 0 8px;
      }
      padding: 8px 0;
      margin: 0 8px;
    }
  }

  &__item-wrapper {
    @include less-than($bp-md-768) {
      width: 100%;
      height: 100%;

      & + & {
        margin: 0 8px;
      }

      background: $popupBackground;
      box-shadow: 1px 1px 4px $colorShadow;
      border-radius: 6px;
      padding: 28px 12px;
      margin: 0 8px;
    }
  }

  &__footer {
    width: 100%;
    background: #001437;
    text-align: center;
    @include padding(36px, 0px, 36px, 0px);
    margin-top: 90px;

    @include more-than($bp-xxl-1442) {
      margin-top: #{get-vw(90px, $bp-xxl-1442)};
    }

    @include less-than($bp-lg-979) {
      margin-top: #{get-vw(50px, $bp-lg-979)};
    }

    @include less-than($bp-md-768) {
      margin-top: 24px;
    }
  }

  &__contract {
    width: 32%;
    @include less-than($bp-md-768) {
      width: 64%;
    }
  }

}

.manifest {
  position: relative;
  background: $popupBackground;
  @extend %s-border;
  @include padding(12px, 5px, 20px, 21px);

  @include less-than($bp-md-768) {
    padding: 0;
    background: transparent;
    border: 0;
    box-shadow: none;
  }

  &--ribbon {
    @extend %s-border--manifest;
  }

  &--logo {
    @include padding(50px, 16px, 60px, 28px);
    @include less-than($bp-md-768) {
      padding: 0;
    }
  }

  &__logo {
    position: absolute;
    right: 2%;
    top: 0;
    object-fit: contain;

    $h-logo: 58px;
    height: $h-logo;

    @include more-than($bp-xxl-1442) {
      height: #{get-vw($h-logo, $bp-xxl-1442)};
    }

    @include less-than($bp-lg-979) {
      height: #{get-vw($h-logo, $bp-lg-979)};
    }

    @include less-than($bp-md-768) {
      display: none;
    }
  }

  &__title {
    font-family: $fontMain;
    font-weight: bold;
    @include font-size(14px);
    line-height: 110%;

    @include less-than($bp-md-768) {
      padding-left: 12px;
    }
  }

  &__text {
    @include font-size(14px);
    line-height: 110%;

    &:not(:first-child) {
      @include padding(18px);
    }

    &--green {
      color: $colorAccent;
    }
  }
}

.trailer {
  &__video {
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
    position: relative;

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      width: inherit;
      height: 100%;
    }
  }

  &__description {
    @include font-size(14px);
    @include margin(16px);
  }

  &__form {
    @include margin(10px);
  }
}

.app-form {

  &__title {
    font-family: $fontMain;
    font-weight: bold;
    @include font-size(18px);

    @include less-than($bp-md-768) {
      font-size: 14px;
    }
  }

  &__inner {
    width: 100%;
    display: grid;
    grid-template-columns: 309fr 177fr;
    @include margin(10px);

    column-gap: 16px;

    @include more-than($bp-xxl-1442) {
      column-gap: #{get-vw(16px, $bp-xxl-1442)};
    }

    @include less-than($bp-lg-979) {
      column-gap: #{get-vw(16px, $bp-lg-979)};
    }

    @include less-than($bp-md-768) {
      display: flex;
      flex-direction: column;
    }
  }

  &__input {
    @extend %tmp-input;
    cursor: text;
  }

  &__submit {
    @include less-than($bp-md-768) {
      margin-top: 12px;
    }
  }

  &__note {
    @include font-size(9px);
    @include margin(4px);
    max-width: 65%;
    line-height: 105%;

    color: #BBBBBB;

    &--link {
      text-decoration: underline;
    }

    @include less-than($bp-md-768) {
      max-width: 100%;
      margin-top: 6px;
    }
  }
}
