@use '../global' as *;

.quiz {
  @include margin(160px);

  @include less-than($bp-md-768) {
    margin-top: 96px;
  }

  &__wrap {
    @include less-than($bp-md-768) {
      padding: 0;
    }
  }

  &__title {
    font-family: $fontMain;
    font-weight: bold;
    @include font-size(36px);

    @include less-than($bp-md-768) {
      font-size: 21px;
      padding: 0 12px;
    }
  }

  &__subtitle {
    font-family: $fontMain;
    font-weight: bold;
    color: $textColorSecondary;

    @include font-size(14px);
    @include padding(7px, 64px, 7px, 82px);

    @include less-than($bp-md-768) {
      padding: 7px 18px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    @include margin(36px);

    @include less-than($bp-md-768) {
      flex-direction: column;
    }
  }

  &__header {
    @include margin(12px);

    &-logo {
      object-fit: contain;
      height: 120%;
      position: absolute;
      left: 0;
      top: 0;

      @include less-than($bp-md-768) {
        display: none;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 476px;

    @include more-than($bp-xxl-1442) {
      height: #{get-vw(476px, $bp-xxl-1442)};
    }

    @include less-than(900px) {
      height: #{get-vw(500px, 900px)};
    }

    @include less-than($bp-lg-979) {
      height: #{get-vw(500px, $bp-lg-979)};
    }

    @include less-than($bp-md-768) {
      transform: translateY(#{get-vw(-46px, $bp-md-768)});
      height: auto;
      width: 95%;
      margin: 0 auto;
      z-index: 2;
    }

    @include less-than(375px) {
      transform: translateY(-46px);
    }
  }

  &__content {
    @include padding(0px, 64px, 60px, 82px);
    @include margin(20px);

    @include less-than($bp-md-768) {
      margin: 12px 0;
      padding: 8px;
    }
  }

  &__poster {
    width: 30%;
    position: relative;
    @include margin(0px, 0px, 0px, 24px);

    @include less-than($bp-md-768) {
      height: #{get-vw(455px, 375px)};
      width: 100%;
      order: -1;
      margin: 0;
    }
  }

  &__quote {
    display: flex;
    flex-direction: row;

    @include margin(28px);
    @include padding(0px, 64px, 0px, 82px);

    width: 100%;
    height: 100%;

    @include less-than($bp-md-768) {
      display: none;
    }

    &-text {
      font-family: $fontMain;
      font-weight: normal;
      font-style: italic;
      @include font-size(18px);
      @include padding(0px, 20px, 0px, 20px);
    }

    &::before {
      content: "“";
      transform: translateY(-12%);
    }

    &::after {
      content: "“";
      transform: rotateZ(180deg) translateX(15%) translateY(40%);
    }

    &::before,
    &::after {
      font-family: $fontMain;
      font-weight: normal;
      @include font-size(96px);
      color: $colorAccent;
    }
  }
}
