@use '../global/index' as *;

.quotation {
  position: relative;
  @include margin(120px);
  z-index: #{$z-index-menu + 1};

  &__img {
    position: absolute;
    object-fit: contain;
    object-position: top;
    width: 100%;
    top: 0;
    left: 0;

    @include less-than(1372px) {
      object-position: left;
      object-fit: cover;
      height: 100%;
    }
  }

  &__title {
    font-family: $fontMain;
    font-weight: bold;
    color: $textColorSecondary;
    @include font-size(35px);

    @include less-than($bp-md-768) {
      padding: 0;
      font-size: 21px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: #{$z-index-menu + 2};
    @include padding(60px, 20px, 60px, 20px);

    @include less-than($bp-md-768) {
      padding: 28px 12px 42px;
    }
  }

  &__inner {
    margin-top: 56px;
    width: 50%;

    @include more-than($bp-xxl-1442) {
      margin-top: #{get-vw(56px, $bp-xxl-1442)};
    }

    @include less-than($bp-xl-1170) {
      margin-top: #{get-vw(56px, $bp-xl-1170)};
    }

    @include less-than($bp-lg-979) {
      margin-top: #{get-vw(36px, $bp-lg-979)};
      width: 64%;
    }

    @include less-than($bp-md-768) {
      margin-top: 24px;
      width: 100%;
    }

    @include less-than($bp-md-768) {
      padding: 28px 12px 42px;
      width: 80%;
    }

    @include less-than(612px) {
      width: 100%;
    }
  }

  &__text {
    @include font-size(18px);
    color: $textColorSecondary;

    @include less-than($bp-md-768) {
      font-size: 14px;
    }

    &:not(:first-child) {
      @include padding(20px);
    }
  }
}
