@use '../global' as *;

.button {
  display: inline-block;
  @extend %btn-green;
  box-shadow: 1px 1px 4px $colorShadow;
  border-radius: 24px;

  &_disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  &:hover {
    border-color: transparent;
    color: $textColorSecondary;
    background: #177840;
  }

  &:active {
    border-color: transparent;
    color: $textColorSecondary;
    background: #0F5C30;
  }

  @include font-size(18px);
  text-align: center;
  padding: 12px;

  @include more-than($bp-xxl-1442) {
    box-shadow: #{get-vw(1px, $bp-xxl-1442)} #{get-vw(1px, $bp-xxl-1442)} #{get-vw(4px, $bp-xxl-1442)} $colorShadow;
    border-radius: #{get-vw(24px, $bp-xxl-1442)};
    padding: #{get-vw(12px, $bp-xxl-1442)};
  }

  @include less-than(420px) {
    font-size: 12px;
  }

  &--menu {
    border-radius: 6px;
    border-width: 0;
    overflow: hidden;
    padding: 14px 24px;
    background: #f5f5f5;
    box-shadow: none;
    color: $gray-blue;
    text-align: left;

    &:hover {
      background: #E1E1E1;
      color: $gray-blue;
    }

    @include less-than(420px) {
      font-size: 14px;
    }

    @include less-than(340px) {
      font-size: 12px;
    }
  }

  &--submit {
    height: fit-content;
    font-family: $fontMain;
    font-weight: normal;
    @include font-size(14px);

    @include less-than($bp-md-768) {
      font-size: 12px;
    }
  }

  &--contract {
    background: $textColorSecondary;
    color: $textColorPrimary;
    @extend %btn-white;
    @include font-size(18px);
    @include padding(16px, 16px, 16px, 16px);
    line-height: 116.666667%;
    border-radius: 6px;
    font-family: $fontMain;
    font-weight: normal;

    @include more-than($bp-xxl-1442) {
      border-radius: #{get-vw(6px, $bp-xxl-1442)};
    }

    @include less-than($bp-md-768) {
      font-size: 12px;
    }
  }

  &--link {
    background: $textColorSecondary;
    color: $textColorPrimary;
    @extend %btn-white;
    @include font-size(18px);
    @include padding(8px, 16px, 8px, 16px);
    line-height: 116.666667%;
    border: 1px solid $black;

    font-family: $fontMain;
    font-weight: normal;
    @include margin(17px);

    @include less-than($bp-sm-576) {
      @include margin(12px);
      @include font-size(12px);
    }
  }

  &--consultation {
    background: transparent;
    color: $textColorSecondary;
    font-family: $fontMain;
    font-weight: normal;
    @include padding(10px, 24px, 10px, 24px);
    @include font-size(14px);

    border: 1px solid $textColorSecondary;
    box-shadow: 1px 1px 4px $colorShadow;
    border-radius: 34px;

    @include more-than($bp-xxl-1442) {
      border-radius: #{get-vw(34px, $bp-xxl-1442)};
    }

    @include less-than($bp-md-768) {
      font-size: 12px;
    }
  }

  &--upload {
    @include less-than($bp-md-768) {
      font-size: 12px;
    }
  }
}

.button-quiz {
  @extend %btn-green;

  &:hover {
    border-color: transparent;
    color: $textColorSecondary;
    background: #177840;
  }

  &:active {
    border-color: transparent;
    color: $textColorSecondary;
    background: #0F5C30;
  }

  background: $textColorSecondary;
  color: $textColorPrimary;

  font-family: $fontMain;
  font-weight: bold;
  line-height: 120%;
  text-align: center;

  border: 1px solid rgba(51, 51, 51, 0.6);
  box-shadow: 1px 1px 4px $colorShadow;
  border-radius: 24px;
  padding: 10px;
  font-size: 14px;

  @include more-than($bp-xxl-1442) {
    border: #{get-vw(1px, $bp-xxl-1442)} solid rgba(51, 51, 51, 0.6);
    box-shadow: #{get-vw(1px, $bp-xxl-1442)} #{get-vw(1px, $bp-xxl-1442)} #{get-vw(4px, $bp-xxl-1442)} $colorShadow;
    border-radius: #{get-vw(24px, $bp-xxl-1442)};
    font-size: #{get-vw(14px, $bp-xxl-1442)};
    padding: #{get-vw(10px, $bp-xxl-1442)};
  }

  @include less-than(999px) {
    font-size: 12px;
  }
}

.bem-button {
  display: inline-flex;
  padding: 0.5em 0.8em;
  overflow: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all .3s;

  &.hidden {
    display: none;
  }

  &_type {
    &_square {
      border-radius: 6px;
      @media screen and (min-width: $bp-xxl-1442) {
        border-radius: #{get-vw(6px, $bp-xxl-1442)};
      }
    }

    &_ellipse {
      border-radius: 24px;
      @media screen and (min-width: $bp-xxl-1442) {
        border-radius: #{get-vw(24px, $bp-xxl-1442)};
      }
    }
  }

  &_color {
    &_blue {
      background-color: #0D1D47;
      border: 1px solid #0D1D47;
      color: white;

      &:hover {
        background-color: transparent;
        border: 1px solid #0D1D47;
        color: #0D1D47;
      }

      &.active {
        background-color: transparent;
        border: 1px solid #0D1D47;
        color: #0D1D47;
      }
    }

    &_blue_shell {
      background-color: transparent;
      border: 1px solid #0D1D47;
      color: #0D1D47;

      &:hover {
        background-color: #0D1D47;
        border: 1px solid #0D1D47;
        color: white;
      }

      &.active {
        background-color: #0D1D47;
        border: 1px solid #0D1D47;
        color: white;
      }
    }
  }
}

.has-animation-blink {
  animation: 3s linear 0s infinite normal;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    width: 0.5em;
    height: 100%;
    background: #fff;
    opacity: .9;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 1;
    transform: rotate(45deg) scale(2);
    animation: 3s linear 0s infinite normal animation-blink;
  }
}

@keyframes animation-blink {
  0% {
    left: -100%
  }
  100%,
  20% {
    left: 100%;
    margin-left: 5rem
  }
}
