@use '../global' as *;

.feature-card {
  background: $popupBackground;
  @extend %s-border;
  height: 100%;
  padding: 30px 24px 30px 17px;

  @include more-than($bp-xxl-1442) {
    padding: #{get-vw(30px, $bp-xxl-1442)}
    #{get-vw(24px, $bp-xxl-1442)}
    #{get-vw(48px, $bp-xxl-1442)}
    #{get-vw(17px, $bp-xxl-1442)};
  }

  @include less-than($bp-lg-979) {
    padding: #{get-vw(30px, $bp-lg-979)}
    #{get-vw(24px, $bp-lg-979)}
    #{get-vw(48px, $bp-lg-979)}
    #{get-vw(17px, $bp-lg-979)};
  }

  &__title {
    font-family: $fontMain;
    font-weight: bold;
    color: $textColorAccent;
    @include font-size(48px);
  }

  &__text {
    color: $textColorAccent;
    @include font-size(12px);
    margin-top: 4px;

    @include more-than($bp-xxl-1442) {
      margin-top: #{get-vw(4px, $bp-xxl-1442)};
    }

    @include less-than($bp-lg-979) {
      margin-top: #{get-vw(4px, $bp-lg-979)};
    }

    @include less-than($bp-sm-576) {

    }
  }
}
