@use '../global' as *;

.img-frame {
  &__img {
    position: relative;
    object-position: top center;
    object-fit: cover;
    width: 100%;
    height: 100%;

    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;

    @include less-than($bp-md-768) {
      border-radius: 0;
    }
  }

  &__labels {
    @include padding-size(0px, 12px, 12px, 12px);
    @include font-size(10px);
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    @include less-than($bp-md-768) {
      bottom: 48px;
      left: auto;
      right: 0;
    }
  }


  &__label {
    font-family: Helvetica;
    font-style: italic;
    @include font-size(12px);
    text-align: left;

    color: #FFFFFF;

    display: block;

    @include less-than($bp-md-768) {
      text-align: right;
    }
  }
}
