@use '../global' as *;

.message-box {
  display: block;
  width: 100%;
  height: 100%;

  &_hidden {
    display: none;
  }

  &_width {
    &_small {
      width: 60%;
      margin: 0 auto;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__head {
    flex: 1;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: center;
    margin-top: 40px;
  }

  &__footer {
    flex: 1;
    margin-top: 40px;
  }

  &__title {
    position: relative;
    line-height: 116%;
    font-family: $fontMain;
    font-weight: bold;
    @include font-size(18px);
    @include padding(28px, 58px, 28px, 58px);


    background-color: $colorPrimary;
    color: $textColorSecondary;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    @include less-than($bp-md-768) {
      @include font-size(16px);
      @include padding(24px, 48px, 24px, 48px);
    }

    @include less-than($bp-sm-576) {
      @include font-size(14px);
      @include padding(18px, 42px, 18px, 42px);
    }

    @include less-than(412px) {
      @include font-size(12px);
      @include padding(12px, 30px, 12px, 30px);
    }

    &_bg {
      &_pink {
        font-family: $fontMain;
        font-weight: normal;
        background-color: #F595A8;
      }

      &_dark-blude {
        background-color: $colorPrimary;
        color: $textColorSecondary;
      }
    }
  }

  &__logo {
    position: absolute;
    object-fit: contain;
    height: 18%;
    right: 10px;
    bottom: 10px;
  }

  &__btn {
    width: 80%;
    display: flex;
    justify-content: center;
    @include font-size(14px);
    @include padding(10px, 10px, 10px, 10px);
    @include margin(35px);

    @include less-than(420px) {
      width: 100%;
    }
  }
}
