@use '../global' as *;

.quote {
  display: flex;
  flex-direction: row;
  @include margin(80px);
  height: 100%;

  &__text {
    align-items: center;
    font-style: italic;
    color: $textColorSecondary;
    @include font-size(18px);

    @include less-than($bp-md-768) {
      font-size: 14px;
    }
  }

  &::before {
    content: "“";
  }

  &::after {
    content: "“";
    transform: rotateZ(180deg) translateX(200%) translateY(-200%);

    @include less-than($bp-sm-576) {
      transform: rotateZ(180deg) translateX(0%) translateY(-200%);
    }
  }

  &::before,
  &::after {
    height: 10px;
    line-height: 0%;
    font-family: $fontMain;
    font-weight: normal;
    color: $textColorSecondary;
    @include font-size(72px);

    @include less-than($bp-md-768) {
      font-size: 64px;
    }
  }
}
