@use '../global' as *;

.ref-table {
  margin-top: 20px;
  padding-bottom: 2em;
  background: #FFFFFF;
  border-radius: 6px;
}

.ref-table__inner {
  text-decoration: none;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  overflow: hidden;
  border-spacing: 1em;
}

.ref-table__header {

}

.ref-table__body {
  counter-reset: rating;
}

.ref-table__row {
  position: relative;

  &_header {
    &:after {
      position: absolute;
      content: "";
      height: 1px;
      background-color: #C8C8C8;
      bottom: 0;
      left: 1em;
      right: 1em;
    }
  }

  &_body {
    cursor: pointer;
    counter-increment: rating;

    &.green {
      background-color: rgba(33, 150, 83, .2);

      &:hover {
        background-color: rgba(33, 150, 83, .3);
      }
    }

    &.yellow {
      background-color: rgba(255, 199, 0, .2);

      &:hover {
        background-color: rgba(255, 199, 0, .3);
      }
    }

    &:not(:last-child) {
      &:after {
        position: absolute;
        content: "";
        height: 1px;
        background-color: #C8C8C8;
        bottom: 0;
        left: 1em;
        right: 1em;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, .05);
    }
  }
}

.ref-table__cell {
  white-space: pre-wrap;
  padding: 10px 1em;
  line-height: 13px;
  vertical-align: middle;

  &_counter {
    content: counters(rating);
  }

  &_th {
    padding-top: 1.56em;
  }
}

.ref-table__pagination {
  padding-right: 1em;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1em;
}

.pagination__pages {
  display: flex;
  padding: 0 0.8em;
}

.pagination__page {
  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
