@use '../global' as *;

.social {
  display: flex;
  flex-direction: row-reverse;

  &__web {
    font-family: $fontMain;
    font-weight: normal;
    @include font-size(14px);
    @include margin(8px);
    color: $textColorPrimary;
    text-align: center;
  }

  &__copy {
    font-family: $fontMain;
    font-weight: normal;
    @include font-size(9px);
    @include margin(8px);
    color: $textColorPrimary;
    text-align: center;
  }

  &__link {
    display: block;
    padding: 4px;
    width: 15%;
  }

  &__img {
    object-fit: cover;
    border-radius: 24%;
    overflow: hidden;

    display: block;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
}
